*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .main{
    width: 800px;
    height: 700px;
    border: 2px solid black;
    margin: auto;
    background-image: url("download.jpg"); */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
/* } */

.container{
    border: 1px dashed red;
    background-color: powderblue;

}
.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 4px;
    display: inline-block;
    background-color: salmon;
}

/* #item3{
    background-color: blueviolet;
    position: relative;
    top: 60px;
    left: 80px;

} */

/* #item2{
    background-color: crimson;
    position: absolute;
    left: 30px;
    top: 80px;
} */

/* #item4{
    background-color: chocolate;
    position: fixed;
    bottom: 30px;
    right: 40px;
} */

/* #item1{
    background-color: fuchsia;
    position: sticky;
    top: 10px;
} */


#item1{
    background-color: crimson;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 4;
}
#item2{
    background-color: rgb(20, 220, 67);
    position: absolute;
    left: 50px;
    top: 40px;
    z-index: 2;
}
#item3{
    background-color: rgb(20, 43, 220);
    position: absolute;
    left: 100px;
    top: 90px;
    z-index: 3;
}
#item4{
    background-color: rgb(220, 20, 197);
    position: absolute;
    left: 150px;
    top: 140px;
    z-index: 1;
}


img{
    width: 500px;
    height: 500px;
    position: relative;
    z-index: -1;
}
p{
    position: absolute;
    top: 250px;
    z-index: 4;
}